<p id="notice"><%= notice %></p>

<h1>Mining Types</h1>

<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col"><%= translate_attribute_name(@mining_types, "description") %></th>
      <th scope="col"><%= translate_attribute_name(@mining_types, "acronym") %></th>
      <th scope="col" colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @mining_types.each do |mining_type| %>
      <tr>
        <td scope="col"><%= mining_type.description %></td>
        <td scope="col"><%= mining_type.acronym %></td>
        <td scope="col"><%= link_to t('links.show'), mining_type %></td>
        <td scope="col"><%= link_to t('links.edit'), edit_mining_type_path(mining_type) %></td>
        <td scope="col"><%= link_to t('links.destroy'), mining_type, method: :delete, data: { confirm: t('dialogs.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('links.new.mining_type'), new_mining_type_path %>
<%= link_to 'Home', root_path %>
